{% load staticfiles %}
<header class="intro-header" style="background-image: url({% static 'img/home-bg.jpg' %}); margin-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 style="font-size: 50px; font-weight: 600;">Вас вітає школа № 17</h1>
                        <hr class="small">
                        <span class="subheading">Напевно, найкраща школа Запоріжжя...</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
