{% load staticfiles %}
{% include "head_css.html" %}
{% include "navbar.html" %}


<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container" style="margin-top: 80px">
</div>



<div class="container">
<h1>Сімейна школа</h1>
<hr>
<div><img src="{% static 'img/school.jpg' %}"></div>
<figcaption>Школа № 17</figcaption>
<p> На одій з вуличок селища Первомайське міста Запоріжжя, на самій вершині найбільшого підвищення Космічного мікрорайону, утопає у пишному зеленому вбранні загальноосвітня школа № 17. Про особливість місьця розсташування школи вам обов'язково розкажуть, підведуть до вікон, що виходять на захід, і перед вами відкриється чудовий краєвид, де вдалечині відблискує Дніпро</p>
<h1>З історії школи</h1>
<hr>
<p>Збудована школа у <strong>1936-37 роках.</strong> Про перші роки існування школи відомостей мало: під час війни влучив снаряд у будівлю школи, сталася пожежа, згоріла частина документів. На території школи є невеличкий будиночок, тепер це шкільний склад. А колись у цьому будинку жив директор школи. Будинок зберігся, але ім'я першого директора школи, хто закладав фундамент розвитку школи, на жаль поки, невідоме.</p>
<div><img src="{% static 'img/1017.jpg' %}" width="800" height="600"></div>
<p>Другим директором був <strong>Федот Федорович Горбонос</strong>, працював він до 1967 року. Слід відзначити, що Федот Федорович поставив питання про індивідуальний підхід у роботі з дітьми. З 1966 р. у школі було введено факультативні курси з окремих навчальних предметів, починаючи з 7 класу, що вибиралися за бажанням учнів.</p>
<p>На зміну Ф.Ф. Горбоносу прийшов <strong>В'ячеслав Степанович Шпотто(1967 - 1977 рр.)</strong>. Велика увага приділялася створенню груп із продовженним днем , різним формам відпочинку та оздоровдення дітей. У школі запроваджується кабінетна система навчання, починають втілюватися нові форми і методи навчання: проблемне та диференційоване навчання тощо.</p>
<div><img src="{% static 'img/school2.jpg' %}" width="800" height="600"></div>
<figcaption>В'ячеслав Степанович Шпотто</figcaption>
<p>Яскраво запам'яталася всім школа минулих років за часів керівництва <strong>Марини Іллівни Хмурої(1977-1999 рр.)</strong>. М.І. Хиура починала свій педагогічний шлях піонервожатою, мала незвичайні організаторські здібності. Слід зазначити, саме на долю М.І. Хмурої випали складні роки становлення школи у перші роки незалежності України. Вмілий організатор Марина Іллівна зуміла успішно перевести школу на нові рейки.</p>
<p>Коли М.І. Хмура пішла на пенсію, директором школи 1999 року стає <strong>Анатолій Іванович Данько</strong>. Але попрацював тоді А.І. Данько лише два роки(1999-2001 рр.). Звільнився за власним бажанням через обставини життя. Директором школи № 17 2001 року було призначено <strong>Павла Володимировича Цинкуша</strong>. За цого керівництва здійснено капітальний ремонт школи: замінено всі вікна на пластикові, зроблено повний ремонт опалювальної системи, повністю поновлено мережу освітлення. Велику допомогу надавали мер міста Євген Григорович Карташов та завідуючий райвно Володимир Іванович Кузьменко. А 2008 року його переводять на посаду директора ЗОШ № 97.</p>
<h1>Сьогодення школи</h1>
<hr>
<p>Директором  загальноосвітньої школи I-III ступенів № 17 2008 року знову призначено <strong>Анатолія Івановича Данька</strong>.
На посаді директора ЗОШ № 17 Анатолій Іванович 6 років(2008-2014рр.). Працює у співдружності зі своїми поміниками, всі вони віддані своїй справі</p>
<img src="{% static 'img/IMG_5724.jpg' %}" width="800" height="600">
<figcaption>Директор Школи № 17 Данько Анатолій Іванович</figcaption>
<div class="container">
{% include "footer.html" %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/docs.min.js' %}"></script>
