{% load staticfiles %}
{% include "head_css.html" %}
{% include "navbar.html" %}


<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container" style="margin-top: 80px">
<h1 style="text-align: center;">Корисні інтернет ресурси</h1>
</div>
<hr>


<div class="container">
<h2>Освітні портали:</h2>
<ul>
<li><a href="http://osvita.ua">Освітній портал "Освіта.UA".</a></li>
<li><a href="http://shodennik.ua"> Інтернет-проект, метою якого є створення єдиної освітньої мережі для всіх учасників освітнього процесу.</a></li>
<li><a href="http://school.xvatit.com"> Гіпермаркет знань.</a></li>
<li><a href="http://klasnaocinka.com.ua"> Класна Оцiнка - безкоштовна інформаційна система для шкіл, дитячих садків та інших організацій.</a></li>
<li><a href="http://www.osvita.org.ua"> "Освітній портал" - все про освіту України.</a></li>
<li><a href="http://ukped.com"> Українська педагогіка.</a></li>
<li><a href="http://uchiteli.com.ua"> Сайт учительської взаємодопомоги: методичні матеріали, календарні плани, відеоуроки та інше.</a></li>
<li><a href="http://shkola.ua"> Новий навчальний портал.</a></li>
<li><a href="http://teacherjournal.com.ua"> Учительський журнал он-лайн.</a></li>
<li><a href="http://www.ednu.kiev.ua"> "Освіта в Украіні. Цей сайт представляє усі українські інформаційні ресурси, що пов'язані з освітою (за словами власників).</a></li>
<li><a href="http://myeducation.com.ua"> Потужний незалежний освітній ресурс, основною метою якого є допомога у отриманні якісних освітніх послуг кожною людиною протягом життя.</a></li>
<li><a href="http://svitosvit.ua"> Українська мережа навчальної інформації та освітніх послуг "СвітОсвіт".</a></li>
<li><a href="http://www.uroki.net"> Метою даного сайту, є допомога молодим і починаючим вчителям у складанні поурочно і тематичного планування, сценаріїв шкільних свят, в розробці відкритих уроків з різних шкільних предметів, класних годин.</a></li>
<li><a href="http://www.intellect-invest.org.ua"> Портал сучасних педагогічних ресурсів.</a></li>
<li><a href="http://rg-zigzag.com.ua"> Освітній портал «Репетиторська група «Зигзаг».</a></li>
</ul>
<H2>Електронні бібліотеки:</H2>
<ul>
<li><a href="http://www.nbuv.gov.ua"> Нацiональна бiблiотека Украiни iменi В.I.Вернадського.</a></li>
<li><a href="http://www.library.edu-ua.net"> Державна науково-педагогічна бібліотека України імені В. О. Сухомлинського.</a></li>
<li><a href="http://www.koob.ru"> Куб - електронна бібліотека.Знання про те, як стати щасливими і успішними.</a></li>
<li><a href="http://libkruz.com"> Велика Кримська електронна бібліотека.</a></li>
<li><a href="http://www.twirpx.com"> Електронна бібліотека.</a></li>
<li><a href="http://el-biblioteka.at.ua"> Електронна бібліотека.</a></li>
<li><a href="http://publ.lib.ru"> Публічна бібліотека(Електронні книжкові полиці Вадима Єршова і К °).</a></li>
<li><a href="http://www.infanata.com"> Електронна бібліотека.</a></li>
<li><a href="http://www.alleng.ru"> "Для всіх, хто навчається." Велика бібліотека навчально-методичної літератури.</a></li>
<li><a href="http://www.lib.ua-ru.net"> Наукова електронна бібліотека. (Книги, підручники, дисертації, автореферати.)</a></li>
<li><a href="http://www.nbuv.gov.ua/portal"> Наукова періодика України (журнали та збірники наукових праць).</a></li>
<li><a href="http://www.nbuv.gov.ua/portal/Soc%5FGum/Vlush"> Вісник Луганського національного університету імені Тараса Шевченка.</a></li>
</ul>
</div>


<div class="container">
{% include "footer.html" %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/docs.min.js' %}"></script>
