
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Школа № 17</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'novosti' %}">Новини</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Про школу <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'history' %}">Історія</a></li>
                <li class="sub-page"><a href="{% url 'photologue:gallery-list' %}">Фотогалерея</a></li>
                <li><a href="{% url 'photo' %}">Контакти</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Вчителям <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'vchitel' %}">Нормативні документи вчителю</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Учням <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'zno' %}">ЗНО</a></li>
                <li><a href="{% url 'dpa' %}">ДПА</a></li>
                <li><a href="{% url 'vpravy' %}">Сторінка здоров'я</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Батькам <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'porady' %}">Поради батькам</a></li>
              </ul>
            </li>
            <li><a href="{% url 'interes' %}">Корисні інтернет ресурси</a></li>
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Корисні інтернет ресурси <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>