{% load staticfiles %}
{% include "head_css.html" %}
{% include "navbar.html" %}


<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container" style="margin-top: 80px">
</div>



<div class="container">
<h1>Поради батькам першокласників</h1>
<hr>
1.Вранці підіймайте дитину спокійно, з усмішкою та лагідним словом. Не згадуйте вчорашні прорахунки, не вживайте образливих слів.
<p>2. Не підганяйте дитину, розрахувати час – це ваш обов’язок, якщо ж ви із цим не впорались – провини дитини в цьому немає.</p>
<p>3. Не посилайте дитину до школи без сніданку: у школі вона багато працює, витрачає сили.</p>
<p>4. Відправляючи дитину до школи, побажайте їй успіхів.</p>
<p>5. Забудьте фразу: « Що ти сьогодні отримав?». Зустрічайте дитину спокійно, не сипте на неї тисячу запитань, дайте їй розслабитись.</p>
<p>6. Якщо дитина замкнулася, щось її турбує, не наполягайте на поясненні її стану, хай заспокоїться, тоді все сама розкаже.</p>
<div style="float: right; clear: both;"><img src="{% static 'img/parents.jpg' %}"></div>
<p>7. Зауваження вчителя вислуховуйте не в присутності дитини. Вислухавши не влаштовуйте сварку. Говоріть із дитиною спокійно.</p>
<p>8. Після школи дитина повинна 2-3 години відпочити. Найоптимальніший час для виконання завдань з 15 до 17 години.</p>
<p>9. Не можна виконувати завдання без перерви. Через кожні 15-20 хв. треба відпочивати 10-15 хв.</p>
<p>10. Під час виконання завдань не стійте над дитиною, дайте їй попрацювати самостійно. А коли буде потрібна ваша допомога, то без крику, вживаючи слова «не хвилюйся», «ти все вмієш», «давай поміркуємо разом», «згадай, як пояснював учитель», допоможіть дитині.</p>
<p>11. При спілкуванні з дитиною не вживайте умовностей: «Якщо ти будеш добре вчитися, то…»</p>
<p>12. Протягом дня знайдіть півгодини для спілкування з дитиною. У цей час найважливішими повинні бути справи дитини, її біль, її радощі.</p>
<p>13. У сім’ї має бути єдина тактика спілкування дорослих із дитиною. Коли щось не виходить, порадьтеся із психологом, учителем. Не зайвим буде почитати літературу для батьків, там ви знайдете багато корисного.</p>
<p>14. Завжди будьте уважними до стану здоров’я дитини.</p>
<p>15.Знайте, що діти люблять казки,особливо перед сном,або пісню, лагідні слова. Не лінуйтеся зробити це для них.</p>

<h1>Пам’ятка батькам майбутнього першокласника</h1>
<hr>
1. Любіть дитину. Не забувайте про тілесний контакт із нею. Знаходьте радість у спілкуванні з дітьми. Дайте дитині місце в сім’ї.
<p>2. Хай не буде жодного дня без прочитаної книжки.</p>
<div style="float: right; clear: both;"><img src="{% static 'img/persho.jpg' %}" width="455" height="355"></div>
<p>3. Розмовляйте з дитиною, розвивайте її мовлення. Цікавтеся справами та проблемами дитини.</p>
<p>4. Дозвольте дитині малювати, розфарбовувати, вирізати, наклеювати, ліпити.</p>
<p>5. Відвідуйте театри, організовуйте сімейні екскурсії містом.</p>
<p>6. Надайте перевагу повноцінному харчуванню дитини, а не розкішному одягу.</p>
<p>7. Обмежте перегляд телепередач, ігри на комп’ютері до 30 хв.</p>
<p>8. Привчайте дітей до самообслуговування, формуйте трудові навички і любов до праці.</p>
<p>9. Не робіть із дитини лише споживача, хай вона буде рівноправним членом сім’ї зі своїми правами і обов’язками.</p>
<p>10.Пам’ятайте, що діти – не тільки продовжувачі наших особистих умінь і здібностей. Кожна дитина має право на власний вияв своїх потенційних можливостей і на свою власну думку.</p>

<h1>Поради батькам як оцінювати шкільні успіхи своїх дітей</h1>
<strong>Правило 1.</strong> Пам’ятайте, що спілкуватися в люті, роздратуванні - все одно, що включити в автомобілі „газ” і натиснути на гальма. 
<p><strong>Правило 2.</strong> Старий, вічний педагогічний гріх. Ми очікуємо від дитини все і зараз. Нам потрібно, щоб дитина вчилася сьогодні добре, ми примушуємо її – вона вчиться, але стає зубрилкою і ненавидить учіння, школу, а може й ... вас. </p>
<p><strong>Правило 3.</strong> Ви любите свою дитину, незважаючи на її успіхи у школі. Вона відчуває вашу любов і це допомагає їй бути впевненою в собі. </p>
<div style="float: right; clear: both;"><img src="{% static 'img/parents1.jpg' %}"></div>
<p><strong>Правило 4.</strong> Дитина очікує від батьків не докорів, а спокійної допомоги. </p>
<p><strong>Правило 5.</strong> Щоб позбавити дитину недоліків, намагайтеся вибрати один – той, якого ви хочете позбавитися найбільше, і говоріть тільки про нього. </p>
<p><strong>Правило 6.</strong> Порадьтеся із дитиною, почніть з ліквідації тих шкільних труднощів, котрі найзначущіші для неї самої. </p>
<p><strong>Правило 7.</strong> Хваліть виконавця, критикуйте – виконання. У ваших силах допомогти відокремити оцінку її особистості від оцінки її роботи. </p>
<p><strong>Правило 8.</strong> Оцінка повинна порівнювати сьогоднішні успіхи дитини з її власними вчорашніми. </p>
<p><strong>Правило 9.</strong> Не скупіться на похвалу; будуючи стосунки з власною дитиною, не орієнтуйтеся тільки на шкільні оцінки. </p>
<p><strong>Правило 10.</strong> Виділіть у морі помилок острівок успіху, на якому зможе укорінюватися дитяча віра в себе і в успіх своїх навчальних зусиль. </p>
<p><strong>Правило 11.</strong> Ставте перед дитиною найбільш конкретні та реальні цілі. Не спокушайте дитину цілями, яких неможливо досягти.</p>
</div>


<div class="container">
{% include "footer.html" %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/docs.min.js' %}"></script>
 <script src="{% static 'js/clean-blog.min.js' %}"></script>