{% load staticfiles %}
{% include "head_css.html" %}
{% include "navbar.html" %}


<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container" style="margin-top: 80px">
</div>



<div class="container">
<h1>Комплекс вправ гімнастики для очей</h1>
<hr>
<ul>
	<li>Міцно замружити очі (рахуючи до 3), відкрити очі та подивитися вдалечінь (рахуючи до 5). Повторити 4-5 разів.</li>
<li>Витягти праву руку вперед.Слідкувати очима, не повертаючи голови, за повільними рухами вказівного пальця витягнутої руки ліворуч та праворуч, вгору і вниз. Повторити 4-5 разів.</li>
<li>Подивитися на вказівний палець витягнутої руки на рахунок 1-4, потім перевести погляд вдалечінь на рахунок 1-6. Повторити 4-5 разів.</li>
<li>В середньому темпі виконувати колові рухи очними яблуками ліворуч, та стільки ж праворуч. Розслабити очні м'язи, подивитися вдалечінь на рахунок 1-6. Повторити 1-2 рази.</li>
<li>Вправа виконується сидячи. Відкинутися назад, зробити глибокий вдих, потім, нахилившись вперед, видих. Повторити 5-6 разів.</li>
<li>Вправа виконується сидячи. Відкинутися на спинку стільця, прикрити повіки, міцно замружити очі, відкрити повіки. Повторити 5-6 разів.</li>
<li>Виконується сидячи. Руки на поясі, повертаючи голову праворуч дивитися на лікоть правої руки; повертаючи голову ліворуч, дивитися на лікоть лівої руки, повернутися у вихідне положення. Повторити 5-6 разів.</li>
<li>Виконується сидячи. Підняти очі догори, зробити очима колові рухи за годинниковою стрілкою, потім зробити очами колові рухи проти годинникової стрілки. Повторити 5-6 разів.</li>
<li>Виконується сидячи. Руки вгору, подивитися на кінчики пальців, підняти руки вгору (вдих), слідкувати очима за руками, не підіймаючи голови, руко опустити (видих).Повторити 4-5 разів.</li>
</ul>
</div>


<div class="container">
{% include "footer.html" %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/docs.min.js' %}"></script>
 <script src="{% static 'js/clean-blog.min.js' %}"></script>